#4 Steps to Final Output

1.   Import Libraries
2.   Send Get Request to Wikipedia Page and Save Response
3.   Create Pandas DataFrame and Shape it
4.   Print the number of rows and columns in the DataFrame

###1. Import Libraries

In [0]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

###2. Send Get Request to Wikipedia Page and Save Response

*   Send GET request
*   Save response to BeautifulSoup object
*   Find Table content and save it in a variable

In [0]:
res = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

if res.status_code == 200:
  bs = BeautifulSoup(res.text, 'html.parser')
  table_contents = bs.find('table', class_="wikitable sortable")
else:
  print("Requests Error: status code that we've got was {}.".format(res.status_code))

###3. Create Pandas DataFrame and Shape it

*   Find values for column names and save them to list
*   Find values for each column and save them to list
*   Create new Pandas DataFrame
*   Shape the DataFrame

In [3]:
column_list = [column.get_text().replace('\n', '') for column in table_contents.find_all('th')]

item_list = [item.get_text().replace('\n', '') for item in table_contents.find_all('td')]
length = len(item_list)
item_list_split = [item_list[index:index + 3] for index in range(0, length, 3)]

df = pd.DataFrame(item_list_split, columns=column_list)
df = df[df['Borough'] != 'Not assigned'].sort_values(['Postal Code', 'Borough'])
df = df.reset_index(drop=True)
df

    Postal Code      Borough                                       Neighborhood
0           M1B  Scarborough                                     Malvern, Rouge
1           M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2           M1E  Scarborough                  Guildwood, Morningside, West Hill
3           M1G  Scarborough                                             Woburn
4           M1H  Scarborough                                          Cedarbrae
..          ...          ...                                                ...
98          M9N         York                                             Weston
99          M9P    Etobicoke                                          Westmount
100         M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

###4. Print the number of rows and columns in the DataFrame

In [4]:
shape = df.shape
print('There are {} rows and {} columns in the dataframe.'.format(shape[0], shape[1]))

There are 103 rows and 3 columns in the dataframe.